@model QuickBootstrap.Services.Util.PagedResult<QuickBootstrap.Services.Models.MenuManagePageItem>
@{
    ViewBag.Title = "菜单管理";
}


<div class="row">

    <div class="col-md-2">
        @Html.Partial("Shared/_QuickMenu")
    </div>

    <div class="col-md-10 ">

        <ol class="breadcrumb">
            <li><a href="/">管理后台</a></li>
            <li><a href="/MenuManage">菜单管理</a></li>
            <li class="active">
                <label class="label label-success">共查询到 @Model.SizeCount 条信息</label>
            </li>
        </ol>

        <div class="callout callout-primary">
            <div class="btn-group">
                <button type="submit" class="btn btn-default btn-group-lg" name="Event" value="Query">查询</button>
            </div>
        </div>

        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>菜单名称</th>
                    <th>菜单路径</th>
                    <th>排序</th>
                    <th>状态</th>
                    <th>分组名称</th>
                    <th>添加时间</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Result.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model.Result[i].Title</td>
                        <td>
                            <a href="#">@Model.Result[i].Path</a>
                        </td>
                        <td>@Model.Result[i].Order</td>
                        <td>@Html.Raw(Model.Result[i].IsEnable ? "正常" : "<span class='label label-danger'>禁用</span>")</td>
                        <td>@Model.Result[i].GroupTitle</td>
                        <td>@Model.Result[i].CreateTime</td>
                    </tr>
                }
            </tbody>
        </table>

        @Html.Partial("_PartialPagingInfo")

    </div>
</div>


